body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(17, 114, 114);
}

.forecast-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: ipx solid aliceblue;
  padding: 0 0 30px 0;
}
a {
  color: rgb(17, 114, 114);
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.5);
  line-height: 20px;
}
.weather-app-details strong {
  color: fuchsia;
}
.weather-app-temp-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 22px;
}

.weather-app-temp {
  font-size: 80px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 20px;
}
.search-form-input {
  background-color: aliceblue;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: rgb(17, 114, 114);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: antiquewhite;
}

main {
  padding: 30px 0;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid aliceblue;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: rgba(65, 50, 100, 0.5);
}
